/* Bike Shop CSS
================================================== 
================================================== */

/*html {*/

	body, section, footer, article, p, a, ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	text-decoration: none;
	font-weight: normal;
	color: inherit;
	box-sizing: border-box;

} 
h1, h2, h3, h4{
			text-transform: uppercase;
			display: block;
		}
		h3, h6 {
			color: gray;
		}
		em{color:white;
			font-style: normal;
		}
		.twentyFiveWidth strong em 
		{text-decoration: line-through;}

		p em, .twentyFiveWidth strong em {
			color: gray;
			font-style: normal;
		}
		#index section{
		height: auto;
		clear: both;
		overflow: hidden;
			
		}
		 article{
			height:auto;
			margin:0% 1% 2% 0%;
			display:inline-block;
			overflow: hidden;
			padding-top: 5%;
			overflow: hidden;
		}
		 section section
		{
			width:85%;
			height:75%;
			margin:2% 0% 2% 8%;
			position:relative;
			overflow: hidden;
		}
 section
		{
			width:100%;
			height: auto;
			clear: both;
			position:relative;
			overflow:hidden;
		}
		
		
		/*Header*/
		header 
		{
            width: 100%;
            height: 500px;
            clear: both;
        }
	 	nav
		{
            height: 45px;
			background-color: #3D3D3D;
			text-align: center;
        }
		nav a 
		{
			height:44px;
			width:150px;
			padding:10px;
			color: #FFFFFF;
			background-color: #3D3D3D;
			display: inline-block;
		}
		nav a.active
		{
			background-color: #000000;
		}
		header img
		{
			margin:6% 0px 0px 15%;
		}
		
		/*INDEX*/
		/*CTA*/
		.thirtyTwoWidth
		{
			width:32%;
			margin:0px 0px 1% 1%;
			text-align: center;
		}
		.thirtyTwoWidth h2
		{
  			width:100%;
			background-color: black;
			opacity: 0.6;
			top: -75px;
		}
		.thirtyTwoWidth h5 strong
		{
  			padding:1%;
			background-color: red;
			top: -75px;
			position:relative;
			color: white;
			font-weight: bold;
		}
		 section:nth-of-type(2), footer
		{
		background-color:#000000;
        }
		section:nth-of-type(2) img
		{
			width:100%;
			height:100%;
			margin-top: -275px;
		}
		section:nth-of-type(2) p, section:nth-of-type(2) h2, .addCart p, .cartNo p
		{
			padding: 1%;
			position: relative;
  			color: #f0f0f0;
			margin-top: 10%;
			text-transform: uppercase;
			display: block;
}
		
		
		/*Feature Products*/
		section:nth-of-type(3) img
		{
			margin-top: -70px;
		}
		section:nth-of-type(3) h3
		{
			margin: 3% 0px -17px 8%;
			color: grey;
		}
		section:nth-of-type(3) h1
		{
			margin-left:8%;
		}
				.twentyFiveWidth
		{
			width:23.5%;
		}
		.redSale, .redSaleNo
		{
			padding: 1%;
			position: relative;
  			color: #f0f0f0;
			margin-top: -35px;
			text-transform: uppercase;
			display: block;
			width:30%;
			text-align: center;
			margin-left:-10px;
			background-color: red;
			transform: skew(-10deg);
		}
		.redSaleNo, .cartNo
		{
			visibility: hidden;
		}
		.addCart, .cartNo
		{
			width:100%;
			height:35px;
			background-color: black;	
			opacity: 0.7;
			margin-top: -74px;
		}
		.addCart p
		{
			padding-top:10px;
		}
		.cart
		{ 
			float:left;
			margin-top:5px;
			margin-left:5px;
			padding-right:10px;
			width:25px;
			height:25px;
		}
		.starfill
		{
   font-size: 20px;
   color: red;
 }
		.staroutline
		{
   font-size: 20px;
   color: grey;
 }
		.fourrating
		{visibility:visible;
			background-color: transparent;
			margin: 0px 0px -35px 0px;
			
}	
		
		
		/*Plans*/
		/*section:nth-of-type(4){
			background: url("images/gears.jpg")no-repeat;
			width:100%;
			background-size: cover;
			overflow: hidden;
			position:relative;
			opacity:1;
			
		}*/
		section:nth-of-type(4) h3
		{
			text-align: center;
			margin: 2% 0px -15px 0px;
			position:relative;
		}
		section:nth-of-type(4) h1
		{
			text-align: center;
			margin-bottom: -35px;
			position:relative;
		}
		.twentyWidth img
		{
			margin-top: -60px;
			width:170px;
			height:170px;
			border: 4px solid white;
			position:relative;
		
}
		.twentyWidth
		{
			width:15%;
			margin:0% 0% 1% 14%;
			text-align: center;
		}
		.twentyWidth p
		{
			text-align: left;
			margin:-15px 5px 0px 25px;
		}
		input{
			height:22px;
		}
		input[type=submit] {
			background-color:red;
			color:white;
			height:30px;
			border:none;
		}
		
		/*Footer*/
		footer{
		overflow: hidden;
		}
		footer section{
			width:85%;
			height:75%;
			margin:2% 0% 2% 8%;
			position:relative;
		}
		footer ul{
			height:auto;
			margin:0% 5% 2% 5%;
			display:inline-block;
			overflow: hidden;
			padding-top: 1%;
		}
		footer h6{
			float:left;
			text-transform:capitalize;
		}
		
		.social
		{
			float:right;
			height:auto;
			width:30%;
			text-align:right;
			margin-right: 3%;
			margin-top: -10%;
		}
		.social img{
			margin-left: 3%;
			height:8%;
			width: 8%;
			filter:brightness(30%);
			
		}
.social .active{
	filter:brightness(1);
}

		.abttheinc
		{
			float:right;
			height:auto;
			width:30%;
			text-align:right;
			margin-right: 3%;
			display:inline;
			padding:0;
			
		}
		.abttheinc li{
			display:inline-block;
			margin: -20px 0px 0px 3%;
			width:150px;
			text-transform:lowercase;
		}
		.abttheinc p em{
			text-transform:capitalize;
		}


		/*SHOP*/
		#shop{
		height: auto;
		clear: both;
			background-color: white;
		}

		#shop article{	
			text-align: center;

		}
		#shop header + section{
			margin:1% 1% 1% 2%;
		}
		#shop h4{
		text-transform: lowercase;
		}
		 aside{
			width:25%;
			height:90%;
			margin:0% 0% 2% 3%;
			position:relative;
			float:left;
			overflow:hidden;
		background-color: white;
		}
		 main{
			width:70%;
			height:auto;
			margin:0% 1% 2% 0%;
			position:relative;
			float:right;
			overflow:hidden;
			background-color: white;
		}
		 main h1{
			margin-bottom: 1%;
			text-align: center;
		}
		 button{
			background-color: #C0BCBC;
			height:30px;
		}
		 button.active{
			background-color: black;
			color:white;
		}
		 main section:nth-of-type(2){
			height:35px;
			border:1px solid grey;
		}
		 main section:nth-of-type(2) div {
			width:30px;
			height:30px;
			display:inline-block;		
		}
		 main section:nth-of-type(2),#listsings{
		background-color: white;
		}
		ul.filter li, ul.show li, ul.pageLinks li{
			display: inline-block;
		 white-space: nowrap;
			text-align:left;
		}
		.show{
			float:right;
			padding-right:5%;
			margin-top:-75px;
		}	
		.sortBy{
			margin-top:-15px;
		}	
		input[type=submit]{
			width:50px;
			background-color: #C0BCBC;
			border:solid;
			text-align: left;
		}
		.sortBy input[type=submit]{
			width:150px;
		}		
		 main section:nth-of-type(3) a
		{
			height:20px;
			width:20px;
			float:left;
			margin-left: 4%;
			
		}
		 main section:nth-of-type(3) li{
			padding-left:110px;
		}
		 main section:nth-of-type(3) img{
			background-color: #FBDD33;	
			border:none;
		}
		.thirtyWidth{
			width: 30%;
		}

		.thirtyWidth img
		{
			width:100%;
			height:100%;
			margin-top: -80px;
			border:1px solid grey;
		}
 main section:nth-of-type(4){
	border:1px solid grey;
}
		.pageLinks{
			float:right;
			padding-right:5%;
			margin-top:-40px;
		}
		
		#collections h3{
			color:black;
		}
		#collections h4{
			text-transform: uppercase;
			margin-top:-130px;
			text-align: center;
			position:relative;
		}
		#collections li{
			padding:1% 0px 0px 1%;
		}
		#collections img{
			margin-top:50px;
		}
		.forSale div{
			float:left;
			width:30%;
		}
		.forSale{
			margin-top: 25%;
			
		}
		.forSale section{
			float:right;
			width:68%;
			margin-top: -40%;
			text-align: left;
		}
		.forSale button{
			background-color: #FBDD33;
			width:30%;
			color:white;
		}
/*EVENTS*/
		#events section:first-of-type, #events main, #events aside{
			background-color:black;
		}

		 main section:first-of-type img{
			height:100%;
			width:100%;
		}
		
		 main section:first-of-type p{
			padding: 1% 2% 1% 1%;
		}
		.fortyEightWidth{
			width: 48%;
		}
		
		#events main input[type=submit], #events aside input[type=submit], #contact input[type=submit]{
			width:100px;
			height:40px;
			border:5px solid grey;
			background-color: transparent;
			color:grey;
			border-radius: 11px;
			text-align: center;
		}	
		
		 aside section{
			padding:5%;
		}

		 aside h4{
			text-transform: capitalize;
			
}

/*CONTACT*/
		
		.fortySixWidth{
			width:46%;
		}
		.fortySixWidth h2{
			font-size: 250%;
		}
		.fortySixWidth img{
			border-radius: 50%;
			width:100%;
			height:100%;
		}
		#contact article:first-of-type div{
			width:50px;
			height:225px;
		}
		
		#contact section:nth-of-type(2) h3
		{
			text-align:center;
			margin: 5% 0px -1% 0px;
			color: grey;
		}
		#contact section:nth-of-type(2) h1{
			font-size: 500%;
			text-align:center;
		}
		#contact section:nth-of-type(3) h3{
			text-transform:inherit;
			margin:0px 5% -5% 5%;
		}
		
		fieldset{
			text-align: center;
			padding-bottom: 10%;
		}
		fieldset .cellRow{
		display:inline-table;
		margin-top: -44px;
		height:75px;
		width:auto;
		padding-left: 2%;
			
		}
		.container
		{
			margin: -100px 0px -100px -5%;
		}
		
		/*input text area*/
		input[type='email']{
			width:148%;
			background-color: grey;
		}
		#phone{
			width:19%;
			background-color: grey;
		}

		#name, #help{
			width:37%;
			background-color: grey;
		}
		label{
			margin-left:-38%;
		}
		
		/*labels*/
		.help{
			margin-right:-9%;
			text-transform: capitalize;
			color:white;
		}
		.phone{
			margin-right:-13%;
			text-transform: capitalize;
			color:white;
		}
		.name{
			text-transform: capitalize;
			color:white;
		margin-right:-3%;
		}
		.email{
			text-transform: capitalize;
			color:white;
		}
		
		.submit{
			width:500px;
			height:40px;

			border:none;
			background-color: white;
			color:grey;
			font-size: 100%;
			border-radius: 11px;
			text-align: center;
		}

/*}*/