/* Bike Shop CSS
================================================== 
================================================== */

/*html {*/
/*******************Typography*************************/
body {
    font: normal 16px program, sans-serif;
	font-style: normal;
	font-weight: 400;
	color:#111111;
}
h1{
	font-size: 50px;
}
h1 strong{
	font-size: 52px;
	font-weight: bold;
}
h2{
	font-size: 26px;
	font-weight: 100;
	color:#666666
}
h2 strong{
	font-size: 36px;
	font-weight: bold;
	color:#111111;
}
h3{
	font-size: 20px;
	color:#666666
}
h3 strong{
	font-size: 24px;
	font-weight: bold;
	color:#444444;
}
h4, h5 strong{
	font-size: 16px;
	color:#666666
}
h4 strong{
	font-size: 24px;
	font-weight: bold;
	color:#111111;
}
h5, h6 strong {
		font-size: 14px;
}
h6 {
	font-size: 12px;
			color: #888888;
	font-weight: 100;
}
h5 strong, h6 strong{
	font-weight: bold;
}

em{color:#FFFFFF;
	font-style: normal;
		}

	body, section, footer, article, p,a, ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 100%;
	text-decoration: none;
	font-weight: normal;
	color: inherit;
	box-sizing: border-box;

} 
h1, h2, h3, h4{
			text-transform: uppercase;
			display: block;
		}
		.twentyFiveWidth strong em 
		{text-decoration: line-through;}

		p em, .twentyFiveWidth strong em {
			color: #888888;
			font-style: normal;
		}
		#index section{
		height: auto;
		clear: both;
		overflow: hidden;
			
		}
		 article{
			height:auto;
			margin:0% 1% 2% 0%;
			display:inline-block;
			overflow: hidden;
			padding-top: 5%;
			overflow: hidden;
		}
		 section section, footer section
		{
			width:85%;
			height:75%;
			margin:2% 0% 2% 8%;
			position:relative;
			overflow: hidden;
		}
 section
		{
			width:100%;
			height: auto;
			clear: both;
			position:relative;
			overflow:hidden;
		}
		
		
/*************************HEADER*************************/
		header 
		{
            width: 100%;
            height: 500px;
            clear: both;
        }
	 	nav
		{
            height: 45px;
			background-color: #444444;
			text-align: center;
        }
		nav a 
		{
			width:150px;
			padding:13px;
			color: #DDDDDD;
			background-color: #444444;
			display: inline-block;
		}
		nav a.active
		{
			background-color: #111111;
			color: #ffffff;
		}
		header img
		{
			margin:6% 0px 0px 15%;
		}
		
/*************************INDEX*************************/
/*******************************************************/
/*************************Cta***************************/
		.thirtyTwoWidth
		{
			width:32%;
			margin:0px 0px 1% 1%;
			text-align: center;
		}
		.thirtyTwoWidth h2
		{
  			width:100%;
			height:auto;
			background-color: #111111;
			opacity: 0.6;
			top: -25px;
		}
		.thirtyTwoWidth h6 strong
		{
  			padding:10px 20px 10px 20px;
			background-color: #C0392B;
			top: -15px;
			position:relative;
			color: #FFFFFF;
			font-weight: bold;
			text-transform: uppercase;
		}
		 section:nth-of-type(2), footer
		{
		background-color:#111111;
        }
		section:nth-of-type(2) img
		{
			width:100%;
			height:100%;
			margin-top: -275px;
		}
		section:nth-of-type(2) p, section:nth-of-type(2) h2, .addCart p, .cartNo p
		{
			padding: 1%;
			position: relative;
  			color: #FFFFFF;
			margin-top: 10%;
			text-transform: uppercase;
			display: block;
}
		
		
/**************************Feature Products**************************/
				

.twentyFiveWidth
		{
			width:23.5%;

		}
		.twentyFiveWidth img:not(.cart) {
			width:100%;
			height:100%;
			margin-top:-60px;
		}
		section:nth-of-type(3) h2
		{
			margin: 3% 0px -47px 8%;
			color: #666666;
		}

		.redSale, .redSaleNo
		{
			padding: 1%;
  			color: #FFFFFF;
			margin: 0px 0px 0px -10px;
			text-transform: uppercase;
			display: inline-block;
			width:30%;
			text-align: center;
			background-color: #C0392B;
			transform: skew(-10deg);
			position: relative;
		}
		.redSaleNo, .cartNo
		{
			visibility: hidden;
		}
		.addCart, .cartNo
		{
			width:100%;
			height:35px;
			background-color: #111111;	
			opacity: 0.7;
			margin-top: -68px;
		}
		.addCart p
		{
			padding-top:10px;
		}
		.cart
		{ 
			float:left;
			margin-top:5px;
			margin-left:5px;
			padding-right:10px;
			width:25px;
			height:25px;
		}

.cart img
		{
			margin-top: -70px;
			position:relative;
		}
		.fourrating
		{
			visibility:visible;
			background-color: transparent;
			margin: 0px 0px -35px 0px;
}
		.starfill
		{
   color: #C0392B;
 }
		.staroutline
		{
   color: #666666;
 }
			
		
		
/**************************Plans**************************/

		section:nth-of-type(4) h2
		{
			text-align: center;
			margin: 2% 0px -35px 0px;
			position:relative;
			color:#999999;
		}
		section:nth-of-type(4) h2 strong
		{
			text-align: center;
			margin-bottom: -35px;
			position:relative;

		}
		.twentyWidth img
		{
			margin-top: -40px;
			width:170px;
			height:170px;
			border: 4px solid #FFFFFF;
			position:relative;
		
}
		.twentyWidth
		{
			width:15%;
			margin:1% 0% 1% 14%;
			text-align: center;
		}
		.twentyWidth p
		{
			text-align: left;
			margin:10px 5px 10px 25px;
			color:#DDDDDD;
			font-weight: 100;
		}
form[method="post"]{
	margin-top: 20px;
}
		input{
			height:22px;
		}
		#index input[type=submit] {
			background-color:#C0392B;
			color:#FFFFFF;
			height:28px;
			border:none;
			margin-top:10px;
		}



/**************************SHOP**************************/
/********************************************************/
		#shop{
		height: auto;
		clear: both;
			background-color: #FFFFFF;
		}

		#shop article{	
			text-align: center;

		}
		#shop header + section{
			margin:1% 1% 1% 2%;
		}
		#shop h4{
		text-transform: lowercase;
		}
		 aside{
			width:23%;
			height:90%;
			margin:0% 0% 2% 8%;
			position:relative;
			float:left;
			overflow:hidden;
		background-color: #FFFFFF;
		}
		 main{
			width:67%;
			height:auto;
			margin:0% 1% 2% 0%;
			position:relative;
			float:right;
			overflow:hidden;
			background-color: #FFFFFF;
		}
		 main h1{
			margin-bottom: 1%;
			text-align: center;
		}
		 button{
			background-color: #C0BCBC;
			height:30px;
		}
		 button.active{
			background-color: #111111;
			color:#FFFFFF;
		}
#shop section:nth-of-type(1){
		padding-left:6%;
}

		 main section:nth-of-type(2){
			height:50px;
			border:1px solid #666666;
		}
		 main section:nth-of-type(2),#listsings{
		background-color: #FFFFFF;
		}
		ul.filter li, ul.show li, ul.pageLinks li{
			display: inline-block;
		 #FFFFFF-space: nowrap;
			text-align:left;
		}
		.show{
			float:right;
			padding-right:5%;
			margin-top:-69px;
		}	
		input[type=submit]{
			width:60px;
			background-color: #C0BCBC;
			border:solid;
			text-align: left;
		}
		.sortBy input[type=submit]{
			width:150px;
		}		
		 main section:nth-of-type(3) a
		{
			height:20px;
			width:20px;
			float:left;
			margin-left: 4%;
			
		}
		 main section:nth-of-type(3) li{
			padding-left:110px;
		}
		 main section:nth-of-type(3) img{
			background-color: #FBDD33;	
			border:none;
		}
		.thirtyWidth{
			width: 30%;
			padding:18% 0px 0px 0px;
	
		}

		.thirtyWidth img
		{
			width:100%;
			height:100%;
			margin-top: -30px;
			border:1px solid #666666;
		}
 main section:nth-of-type(4){
	border:1px solid #666666;
}
		.pageLinks{
			float:right;
			padding-right:5%;
			margin-top:-40px;
		}
		
		#collections h3{
			color:#111111;
		}
		#collections h4{
			text-transform: uppercase;
			margin-top:-130px;
			text-align: center;
			position:relative;
		}
		#collections li{
			padding:1% 0px 0px 1%;
		}
		#collections img{
			margin-top:50px;
		}
		.forSale div{
			float:left;
			width:30%;
		}
		.forSale{
			margin-top: 25%;
			
		}
		.forSale section{
			float:right;
			width:68%;
			margin-top: -40%;
			text-align: left;
		}
		.forSale button{
			background-color: #FBDD33;
			width:30%;
			color:#FFFFFF;
		}



/**************************EVENTS**************************/
/**********************************************************/

		#events section:first-of-type, #events main, #events aside{
			background-color:#111111;
		}

		 main section:first-of-type img{
			height:100%;
			width:100%;
		}
		
		 main section:first-of-type p{
			padding: 1% 2% 1% 1%;
		}
		.fortyEightWidth{
			width: 48%;
		}
		
		#events input[type=submit], #contact input[type=submit]{
			width:100px;
			height:40px;
			border:5px solid #666666;
			background-color: transparent;
			color:#666666;
			border-radius: 11px;
			text-align: center;
		}	
		
		 aside section{
			padding:5%;
		}

		 aside h4{
			text-transform: capitalize;
			
}

/**************************CONTACT**************************/
/***********************************************************/
		
		.fortySixWidth{
			width:46%;
		}
		.fortySixWidth img{
			border-radius: 50%;
			width:100%;
			height:100%;
		}
		#contact article:first-of-type div{
			width:50px;
			height:225px;
		}
		
		#contact section:nth-of-type(2) h3
		{
			text-align:center;
			margin: 5% 0px -50px 0px;
			color: #666666;
		}
		#contact section:nth-of-type(2) h1{
			font-size: 500%;
			text-align:center;
			margin-bottom:-3%;
}
		#contact section:nth-of-type(3) h3{
			text-transform:capitalize;
			margin:0px 5% 0px 5%;
		}
		
		fieldset{
			text-align: center;
			padding-bottom: 10%;
		}
		fieldset .cellRow{
		display:inline-table;
		margin-top: -44px;
		height:75px;
		width:auto;
		padding-left: 2%;
			
		}
		.container
		{
			margin: -100px 0px -100px -5%;
		}
		
		/*input text area*/
		#name, #help, #phone, #contact input[type='email']{
			background-color: #666666;
		}
		#contact input[type='email']{
			width:148%;
		}
		#phone{
			width:19%;
		}
		#name, #help{
			width:37%;
		}
		label{
			margin-left:-38%;
		}
		
		/*labels*/
		.email, .name, .phone, .help{
			text-transform: capitalize;
			color:#FFFFFF;
		}
		.help{
			margin-right:-9%;
		}
		.phone{
			margin-right:-13%;
		}
		.name{
		margin-right:-3%;
		}

		.submit{
			width:500px;
			height:40px;

			border:none;
			background-color: #FFFFFF;
			color:#666666;
			font-size: 100%;
			border-radius: 11px;
			text-align: center;
		}


/**************************FOOTER**************************/
/**********************************************************/
		footer{
		overflow: hidden;
		}
		footer ul{
			height:auto;
			margin:0% 5% 2% 5%;
			display:inline-block;
			overflow: hidden;
			padding-top: 1%;
		}
		footer h6{
			float:left;
			text-transform:capitalize;
		}
		.social
		{
			float:right;
			height:auto;
			width:30%;
			text-align:right;
		    margin-right: 3%;
			margin-top: -10%;
		}
		.social img{
			margin-left: 3%;
			height:8%;
			width: 8%;
			filter:brightness(30%);
			
		}
		.social .active{
			filter:brightness(1);
		}

		.abttheinc
		{
			float:right;
			width:30%;
			text-align:right;
		}
		.abttheinc li{
			display:inline-block;
			margin: -15px 0px 0px 1%;
			width:80px;
			text-transform:lowercase;
		}
		.abttheinc p em{
			text-transform:capitalize;
		}

/*}*/