/* Hiker's Guide CSS
================================================== 
================================================== */

/*html {*/
/* Header Block*/
/*==================================================
================================================== */
header {
    position:relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 50px;
    margin-top:-20px;
}
header section {
        display: table-cell;
}
#header h1 {
    font-size: 3em;
    text-align: left;
    padding-left: 4%;
    color: #f0ae35;
    margin-top: 1%;
}
#form {
    width: 950px;
    font-size: 21px;
    padding-right: 25px;
}
form input {
    background-color: transparent;
    color: #f0ae35;
}
a:link {
    color: #f0ae35;
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
}
a:visited {
    color: #ffd503;
}

/* Home: Rotator Block*/
/*==================================================
================================================== */
#rotatorHome {
    width: 100%;
    margin-top: -6%;
    overflow: hidden;
}

 /*Body Block
==================================================
==================================================*/ 
body {
    background: url('/HikersGuide/design/pattern28.png');
}

/*Blog: Article Block 1
==================================================
==================================================*/
#blogPage header {
    background: url('/HikersGuide/design/File_001 (10).png');
}
#aLevel1 {
    max-width: 93%;
    height: 120px;
    margin: auto;
    clear: both;
    overflow: hidden;
    border: 1px solid green;
}
#aLevel1 article {
        height: 120px;
        width: 295px;
        border: 1px solid #3b321a;
        background: url('/HikersGuide/design/abstract-luxury-leather-black-texture-260nw-570397270.jpg');
        color: lemonchiffon;
        float: left;
    }
#aLevel1 img {
        height: 80px;
        width: 100px;
        float: left;
        padding-right: 10px;
}
#aLevel1 p {
        text-align: left;
        margin: 7px -15px 5px 10px;
        font-size: 10px;
        /*padding: 0px 20px 5px 20px;*/
        word-break: break-all;
}
#aLevel1 h3 {
        text-align: left;
        font-size: 16px;
        margin: 15px -45px 10px 35px;
        /*padding-right: 35px;*/
}

/*  Home Posts & View More Btn, Blog Article Block 2, Event listings
/*==================================================
================================================== */
#aLevel2 {
    max-width: 93%;
    height: 340px;
    clear: both;
    text-align: center;
    margin: auto;
    overflow: hidden;
    border: 1px solid red;
    margin-top: 1%;
}
#posts {
    height: auto;
    margin: auto;
    width: auto;
    margin: 0px 15% 1% 18%;
    clear: both;
    text-align: center;
}
#posts article, #aLevel2 article {
        width: 350px;
        height: 350px;
        float: left;
        color: lemonchiffon;
    }
#posts article img, #aLevel2 article img {
        width: 330px;
        height: 330px;
    }
#posts h2, #aLevel3 h2 {
        font-size: 30px;
        padding-top: 2% 0px 5px 0px;
}
#posts h3, #aLevel2 h3 {
        /*margin: 0px 0px 0px 0px;*/
        padding: 0px 3% 0px 3%;
        font-size: 28px;
        color:lemonchiffon;
}
#posts p, #aLevel2 p {
        position: relative;
        margin: -160px 0px 0px 30px;
        font-size: 20px;
}
#posts dd, #aLevel2 dt {
        position: relative;
        float: left;
        margin: 10px 0px 0px 20px;
        padding-right: 15px;
        font-size: 14px;
        color: #ffd503;
    }

/*Home: view more button*/
span .more {
    width: 100px;
    height: 50px;
    position: relative;
    float: left;
    margin-top: 50px;
    margin-left: 50%;
    background-color: transparent;
    color: #f0ae35;
    font-size: 16px;
}

/* Blog: Article Block 3, 4*/
/*==================================================
================================================== */
#aLevel3 {
    max-width: 53%;
    height: 360px;
    clear: both;
    margin: auto;
    border: 1px solid blue;
    margin-top: 3%;
    margin-bottom: 1%;
    overflow: hidden;
}
#aLevel3 section {
        position: absolute;
        width: 690px;
        height: 320px;
        float: left;
        background: url('/HikersGuide/design/union-wood-sunrise.jpg.653x0_q80_crop-smart.jpg');
        margin-left: 1px;
        /*margin-top: 0px;*/
        color: #ffd503;
        text-align: left;
}
    #aLevel3 section h3 {
        position: relative;
        font-size: 20px;
        text-align: left;
        margin-left: 20px;
        color:black;
    }
    #aLevel3 section p {
        position: relative;
        font-size: 11px;
        text-align: left;
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom:-15px;
        color: #f0ae35;
        font-weight:bolder;
    }

#aLevel3 section img {
            position: absolute;
            height: 125px;
            width: 500px;
            margin: 200px 50px 0px 80px;
}
#aLevel3 section section {
            position: relative;
            height: 150px;
            width: 500px;
            margin: 200px 0px 0px 80px;
            background: url('/HikersGuide/design/white.jpg');
            color: black;
            text-align:left;
}
#aLevel3 article {
        position: absolute;
        width: 500px;
        height: 330px;
        float: left;
        margin-left: 720px;
}
    #aLevel3 article p {
        position: relative;
        font-size: 11px;
        margin-top: 40px;
    }
    #aLevel3 article p strong{
        position: relative;
        font-size: 11px;
        margin-top: 20px;
    }
    #aLevel3 article h3 {
        position: relative;
        font-size: 11px;
        margin-bottom: -30px;
    }

#aLevel4 {
    max-width: 53%;
    height: 350px;
    /*margin: 0px 50px 75px 350px;*/
    clear: both;
    margin: auto;
    border: 1px solid yellow;
    overflow: hidden;
    margin-bottom: 3%;
}
#aLevel4 article {
    width: 475px;
    height: 400px;
    float: left;
    margin-right: 10px;
    /*margin-top: 0px;*/
    padding-right: 25px;
}
#aLevel4 article img, #aLevel3 article img {
    position: relative;
    height: 175px;
    width: 495px;
}
#aLevel4 article article, #aLevel3 article article {
    position: relative;
    height: 175px;
    width: 475px;
    margin: -5px 0px 0px 0px;
    padding: 0px 10px 5px 10px;
    text-align: left;
    color: lemonchiffon;
    background: url('HikersGuide/design/817111225_preview_Black_background_leather-wallpaper-2048x1152.jpg');
    font-size: 13px;
}
#aLevel4 section {
        width: 175px;
        height: 295px;
        float: left;
        margin-left: -20px;
        /*margin-top: 0px;*/
}
#aLevel4 section section {
            padding-top: 60px;
            padding-left: 20px;
            margin-left: 20px;
            color: white;
            text-align: left;
            background: url('/HikersGuide/design/File_002 (5).png');
}

/*#aLevel3 section dt {
    position: relative;
    float: left;
    margin: -25px 0px 28px 100px;
    font-size: 11px;
    color: #8a7300;
}*/
/*#aLevel4 dt, #aLevel3 article dt {
        position: relative;
        float: left;
        margin: -25px 0px 28px 30px;
        font-size: 12px;
        color: #8a7300;
    }*/

/* Events Page */
/*==================================================
================================================== */
#eventPage header {
    background: url('/HikersGuide/design/File_001 (10).png');
}
#rotatorEvents h2 {
    text-align: center;
    margin-top: -250px;
    color: #0a1563;
}
#rotatorEvents h3 {
    text-align: center;
    margin-top: -20px;
    color: #0a1563;
}
span .left {
    position: relative;
    padding-left: 2%;
    float: left;
    background: url(/HikersGuide/images/left.png) no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: -100px
}
span .right {
    position: relative;
    padding-right: 2%;
    float: right;
    background: url(/HikersGuide/images/right.png) no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: -100px;
}

#tab {
    overflow: hidden;
    width: 965px;
    max-width: 65%;
    height: 40px;
    margin: auto;
    margin-top: 12%;
    clear: both;
}
#tab button {
        float: left;
        color: #ffd503;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        text-align: center;
    }
#tab button.active {
            background-color: #292828;
        }
.tabcontent {
    display: none;
    border-top: none;
    background-color: transparent;
}

#events {
    background-color: #292828;
    width: 945px;
    max-width: 65%;
    height: 945px;
    margin: auto;
    margin-top: 0px;
    padding: 0% 0% 1% 1%;
    clear: both;
}
#events article {
    float: left;
    height: 450px;
    width: 270px;
    margin: 30px 0px -15px 21px;
    padding-right: 20px;
    font-size: 13px;
}
#events article img {
    position: relative;
    height: 300px;
    width: 290px;
    margin-left: -15px;
}
#events article section {
    position: relative;
    height: 140px;
    width: 260px;
    margin: -10px 0px 0px -15px;
    padding: 5px 10px 0px 20px;
    background: url('HikersGuide/design/817111225_preview_Black_background_leather-wallpaper-2048x1152.jpg');
}
#events article section p {
        color: lemonchiffon;
        margin-top: -10px;
}
#events article section p strong {
            margin-top: -10px;
}

#misc {
    width: 945px;
    height: 300px;
    margin: auto;
    padding: 1% 8px 1% 1%;
}
#misc section {
    float: left;
    height: 140px;
    width: 245px;
    margin-left: 5px;
    padding: 2% 40px 0px 25px;
}
#misc section section {
    position: relative;
    height: 160px;
    width: 260px;
    margin: -12px 0px 5px -25px;
    padding: 10px 10px 0px 20px;
    color: lemonchiffon;
    font-size: 12px;
}
#misc section p strong, #events article section p strong {
    color: #8a7300;
    font-size: 13px;
    margin-bottom: -3px;
}

/* Gift, Tag, App icons*/
#misc section img {
    position: relative;
    height: 20px;
    width: 20px;
    margin-left: -10px;
}
#misc .newsletter p strong {
    text-align: left;
    margin-left: -25px;
}
#misc .btnBuy {
    width: 135px;
    height: 35px;
    padding: 3%;
    color: lemonchiffon;
    border-color: #292828;
    background-color: transparent;
}
#misc .btnL {
    width: 200px;
    height: 35px;
    margin-top: -65px;
    padding: 3%;
    border-color: #292828;
    color: lemonchiffon;
    background-color: transparent
}
#misc .btnL img {
        width: 35px;
        height: 30px;
        float: right;
        margin-top: -13px;
        padding: 5px 0px 5px 20px;
    }

/*subscribe paragraph tag*/
#misc .newsletter p {
    text-align: left;
    padding-left: 25px;
}
#misc .btns {
    width: 234px;
    height: 50px;
}
#misc .appStore {
    width: 115px;
    height: 36px;
    margin-left: -10px;
    float: right;
    border-color: #292828;
    background-color: transparent;
}
#misc .googlePlay {
    width: 115px;
    height: 36px;
    float: left;
    border-color: #292828;
    background-color: transparent;
}
#misc .appStore img {
    width: 107px;
    height: 100px;
    float: right;
    margin: -35px -4px 0px 0px;
}
#misc .googlePlay img {
    width: 107px;
    height: 100px;
    float: left;
    margin: -35px 0px 0px -5px;
}

h5 {
    color: #8a7300;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}
h3 {
    color: #f0ae35;
}

#filter {
    background-color: #292828;
    max-width: 100%;
    height: 100px;
    clear: both;
    position: relative;
}    
#filter section {
        height: 100px;
        width: 950px;
        margin: auto;
        color: lemonchiffon;
        font-size: 12px;
        padding: 0px 5px 0px 5px;
    }
#filter section a {
            font-size: 10px;
            color: #ffd800;
            text-align: left;
        }
#filter section h2 {
            font-size: 22px;
            color: lemonchiffon;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 5px;
        }
#filter .link {
        height: 30px;
        width: 130px;
        float: left;
        margin: 6px 126px 0px 50px;
    }

/* Home: join & sign Block 3*/
/*==================================================
================================================== */
#join {
    max-width: 100%;
    height: 500px;
    margin-top: 1000px;
    border: 3px solid black;
}
#join img {
        width: 100%;
        height: 400px;
        margin: 88px 0px 0px 0px;
    }
#join section {
            position: relative;
            width: 400px;
            height: 200px;
            text-align: left;
            margin: -350px 40% 0px 5%;
            color: lemonchiffon;
        }

/*sign up*/
#sign {
    max-width: 100%;
    height: 170px;
    margin-top: -15px;
    background-color: #f0ae35;
}
#sign section {
        text-align: center;
        padding-left: 5%;
        padding-top: 20px;
        color: black;
}
#sign .button {
        background: url(/HikersGuide/images/right.png) no-repeat;
        width: 50px;
        height: 50px;
        border: none;
}

/* Home: Misc Block 3*/
/*==================================================
================================================== */
#sectionMisc {
    display: table;
    table-layout: fixed;
    width: 70%;
    height: 100px;
    padding: 5% 13% 3% 15%;
    color: lemonchiffon;
}
#sectionMisc section {
        display: table-cell;
        height: 100px;
    }
#about h3, #sectionMisc p strong {
        color: #f0ae35;
        font-size: 16px;
        margin-top: 30px;
    }
#about {
    text-align: left;
    padding-right: 10%;
}
#mEvents img, #members img {
    float: left;
    width: 65px;
    height: 50px;
    padding: 5px 15px 0px 25px;
}




#contact {
    text-align: center;
    height: 400px;
    padding-top: 100px;
    font-size: 16px;
}

    #contact h5 {
        color: lemonchiffon;
        font-size: 2em;
    }

    #contact h2 {
        font-size: 5em;
        color: lemonchiffon;
    }




/* Info Block*/
#info {
    margin: -3rem auto 1rem auto;
    color: lemonchiffon;
    width: 60%;
    padding-bottom: 100px;
    padding-left: 250px;
    font-size: 1.25em;
}

    #info td h5 {
        font-size: 1.5em;
        color: #f0ae35;
    }


/* Email Block*/
#email a {
    margin-left: 600px;
    color: #f0ae35;
    font-size: 2em;
}

#email h4 {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    color: #f0ae35;
}

/*#email input {
    margin-top: -30px;
    margin-left: 50%;
    height: 50px;
    width: 100px;
    background-color: transparent;
    color: #f0ae35;
    font-size: 2em;
}*/


/*Footer Block*/
footer {
    position: fixed;
    text-align: right;
    right: 0%;
    bottom: 0;
}

    footer img {
        height: 50px;
        width: 50px;
        margin-right: 25px;
    }

    footer h4 strong {
        color: white;
        font-size: 2em;
        padding-right: 10px;
    }

    footer h4 {
        color: white;
        padding-right: 15px;
    }




/*}*/