/* Hiker's Guide CSS
================================================== 
================================================== */

/*html {*/
/* Header Block*/
/*==================================================
================================================== */
header {
    position:relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 50px;
    margin-top:-20px;
}

header section {
        display: table-cell;
}

#header h1 {
    font-size: 3em;
    text-align: left;
    padding-left: 4%;
    color: #f0ae35;
    margin-top: 1%;
}

#form {
    width: 950px;
    font-size: 21px;
    padding-right: 25px;
}
form input {
    background-color: transparent;
    color: #f0ae35;
}

a:link {
    color: #f0ae35;
    text-decoration: none;
    padding: 30px;
    font-size: 20px;
}

a:visited {
    color: #ffd503;
}

/* Rotator Block*/
/*==================================================
================================================== */

#rotatorHome {
    width: 100%;
    margin-top: -6%;
    overflow: hidden;
}
#rotatorEvents {
    max-width: 100%;
    margin-top: 0%;
    overflow: hidden;
    text-align: center;
    color: #0a1563;
}

/* Body Block*/
/*==================================================
================================================== */
body {
    background: url('/HikersGuide/design/pattern28.png');
}


/* Blog: Article Block 1*/
/*==================================================
================================================== */
#aLevel1 {
    max-width: 100%;
    height: 120px;
    margin: 0.5rem;
    clear: both;
}

#aLevel1 article {
        height: 110px;
        width: 300px;
        border: 1px solid #3b321a;
        background: url('/HikersGuide/design/abstract-luxury-leather-black-texture-260nw-570397270.jpg');
        color: lemonchiffon;
        margin-left: -30px;
        float: left;
}

#aLevel1 img {
        height: 100px;
        width: 150px;
        float: left;
        padding-right: 25px;
}

#aLevel1 p {
        text-align: left;
        margin: 7px -15px 5px 10px;
        font-size: 10px;
        padding: 0px 20px 5px 20px;
        word-break: break-all;
}

#aLevel1 h3 {
        text-align: left;
        font-size: 16px;
        margin: 15px -45px 10px 35px;
        padding-right: 35px;
}


/*  Home Posts, Blog Article Block 2, Event listings*/
/*==================================================
================================================== */
/*#events,*/ #aLevel2 {
    max-width: 100%;
    height: 390px;
    margin: 0px 0px 0px 0.5rem;
    padding: 10px 0px 3% 0px;
    clear: both;
    position: relative;
    text-align: center;
}

#posts {
    height: auto;
    margin: auto;
    width: auto;
    margin: 0px 15% 1% 18%;
    clear: both;
    text-align: center;
}

/*#events article,*/ #posts article, #aLevel2 article {
        width: 400px;
        height: 400px;
        float: left;
        color: lemonchiffon;
        margin-left: 1px;
}

/*#events article img,*/ #posts article img, #aLevel2 article img {
            height: 390px;
            width: 390px;
}

    /*#events h2,*/ #posts h2, #aLevel3 h2 {
        color: #f0ae35;
        font-size: 30px;
        padding-top: 2% 0px 5px 0px;
}

    /*#events h3,*/ #posts h3, #aLevel2 h3 {
        margin: 0px 0px 0px 0px;
        padding: 0px 3% 0px 3%;
        font-size: 28px;
}

/*#events p,*/ #posts p, #aLevel2 p {
        position: relative;
        margin: -250px 0px 0px 0px;
        font-size: 20px;
}


/* Blog: Article Block 3, 4*/
/*==================================================
================================================== */
#aLevel3 {
    max-width: 65%;
    height: 420px;
    margin: 0px 50px 75px 350px;
    clear: both;
}
#aLevel3 section {
        position: absolute;
        width: 690px;
        height: 320px;
        float: left;
        background: url('/HikersGuide/design/union-wood-sunrise.jpg.653x0_q80_crop-smart.jpg');
        margin-left: 1px;
        margin-top: 50px;
        color: #ffd503;
        text-align: left;
}

#aLevel3 section img {
            position: absolute;
            height: 125px;
            width: 500px;
            margin: 200px 50px 0px 80px;
}

#aLevel3 section section {
            position: relative;
            height: 150px;
            width: 500px;
            margin: 200px 0px 0px 80px;
            background: url('/HikersGuide/design/white.jpg');
            color: black;
            text-align:center;
}

#aLevel3 article {
        position: absolute;
        width: 500px;
        height: 330px;
        float: left;
        margin-top: 50px;
        margin-left: 720px;
}


/* Article level 4*/
/*#events,*/ #aLevel4 {
    max-width: 65%;
    height: 400px;
    margin: 0px 50px 75px 350px;
    padding-top: 100px;
    clear: both;
}
    /*#events article,*/ #aLevel4 article {
    width: 475px;
    height: 400px;
    float: left;
    margin-right: 10px;
    margin-top: -100px;
    padding-right: 25px;
}

        /*#events article img,*/ #aLevel4 article img, #aLevel3 article img {
    position: relative;
    height: 150px;
    width: 495px;
}

#aLevel4 article article, #aLevel3 article article {
    position: relative;
    height: 200px;
    width: 475px;
    margin: -5px 0px 0px 0px;
    padding: 0px 10px 5px 10px;
    text-align: left;
    color: lemonchiffon;
    background: url('HikersGuide/design/817111225_preview_Black_background_leather-wallpaper-2048x1152.jpg');
    font-size: 13px;
}

#aLevel4 section {
        width: 175px;
        height: 295px;
        float: left;
        margin-left: -20px;
        margin-top: -50px;
}

#aLevel4 section section {
            padding-top: 60px;
            padding-left: 20px;
            margin-left: 20px;
            color: white;
            text-align: left;
            background: url('/HikersGuide/design/File_002 (5).png');
}

/* Unordered Lists*/
/*==================================================
================================================== */
#aLevel3 dt {
    position: relative;
    float: left;
    margin: 50px 10px 50px 15px;
    padding-right: -2%;
    font-size: 14px;
    color: #ffd503;
}
#events dt, #posts dd, #aLevel2 dt {
    position: relative;
    float: left;
    margin: 10px 0px 0px 20px;
    padding-right: 15px;
    font-size: 14px;
    color: #ffd503;
}

#aLevel4 dt, #aLevel3 article dt{
    position: relative;
    float: left;
    margin: -25px 0px 28px 30px;
    font-size: 12px;
    color: #8a7300;
}

#aLevel3 section dt {
    position: relative;
    float: left;
    margin: -25px 0px 28px 100px;
    font-size: 11px;
    color: #8a7300;
}


/* Buttons Block*/
/*==================================================
================================================== */

span .more {
    width: 100px;
    height: 50px;
    position: relative;
    float: left;
    margin-top: 50px;
    margin-left: 50%;
    background-color: transparent;
    color: #f0ae35;
    font-size: 16px;
}

span .left {
    position: relative;
    padding-left: 2%;
    float: left;
    background: url(/HikersGuide/images/left.png) no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: -400px
}

span .right {
    position: relative;
    padding-right: 2%;
    float: right;
    background: url(/HikersGuide/images/right.png) no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: -400px;
}

/* Home: join & sign Block 3*/
/*==================================================
================================================== */
    #join {
    max-width: 100%;
    height: 500px;
    margin-top: 1000px;
    border: 3px solid black;
}

    #join img {
        width: 100%;
        height: 400px;
        margin: 88px 0px 0px 0px;
    }

        #join section {
            position: relative;
            width: 400px;
            height: 200px;
            text-align: left;
            margin: -350px 40% 0px 5%;
            color: lemonchiffon;
        }

/*sign up*/
#sign {
    max-width: 100%;
    height: 170px;
    margin-top: -15px;
    background-color: #f0ae35;
}

    #sign section {
        text-align: center;
        padding-left: 5%;
        padding-top: 20px;
        color: black;
    }

    #sign .button {
        background: url(/HikersGuide/images/right.png) no-repeat;
        width: 50px;
        height: 50px;
        border: none;
    }

/* Home: Misc Block 3*/
/*==================================================
================================================== */
#sectionMisc {
    display: table;
    table-layout: fixed;
    width: 70%;
    height: 100px;
    padding: 5% 13% 3% 15%;
    color: lemonchiffon;
}

#sectionMisc section {
        display: table-cell;
        height: 100px;
    }

#about h3, #sectionMisc p strong {
        color: #f0ae35;
        font-size: 16px;
        margin-top: 30px;
    }

#about {
    text-align: left;
    padding-right: 10%;
}

#mEvents img, #members img {
    float: left;
    width: 65px;
    height: 50px;
    padding: 5px 15px 0px 25px;
}




#contact {
    text-align: center;
    height: 400px;
    padding-top: 100px;
    font-size: 16px;
}

    #contact h5 {
        color: lemonchiffon;
        font-size: 2em;
    }

    #contact h2 {
        font-size: 5em;
        color: lemonchiffon;
    }




/* Info Block*/
#info {
    margin: -3rem auto 1rem auto;
    color: lemonchiffon;
    width: 60%;
    padding-bottom: 100px;
    padding-left: 250px;
    font-size: 1.25em;
}

    #info td h5 {
        font-size: 1.5em;
        color: #f0ae35;
    }


/* Email Block*/
#email a {
    margin-left: 600px;
    color: #f0ae35;
    font-size: 2em;
}

#email h4 {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    color: #f0ae35;
}

#email input {
    margin-top: -30px;
    margin-left: 50%;
    height: 50px;
    width: 100px;
    background-color: transparent;
    color: #f0ae35;
    font-size: 2em;
}


/*Footer Block*/
footer {
    position: fixed;
    text-align: right;
    right: 0%;
    bottom: 0;
}

    footer img {
        height: 50px;
        width: 50px;
        margin-right: 25px;
    }

    footer h4 strong {
        color: white;
        font-size: 2em;
        padding-right: 10px;
    }

    footer h4 {
        color: white;
        padding-right: 15px;
    }




/*}*/