/* Hiker's Guide CSS
================================================== 
================================================== */

/*html {*/
/* Header Block*/
/*==================================================
================================================== */
header {
    position:relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 50px;
}

header section {
        display: table-cell;
}

#header {
    Border: 2px solid green;
}

#header h1 {
        font-size: 3em;
        text-align:left;
        padding-left: 4%;
        color: #f0ae35;
        margin-top: -1px;
}

#form {
    width: 950px;
    Border: 2px solid blue;
    font-size: 21px;
    padding-right: 25px;
}
form input {
        background-color: transparent;
        color: #f0ae35;
}

a:link {
    color: #087800;
    text-decoration: none;
    padding: 30px;
}

a:visited {
    color: #f0ae35;
}

/* Rotator Block*/
/*==================================================
================================================== */

#rotatorHome {
    width: 100%;
    margin-top: -6%;
}
#rotatorEvents {
    max-width: 100%;
    margin-top: 0%;
}


span .left {
    position: relative;
    padding-left: 2%;
    float: left;
    background: url(/HikersGuide/images/left.png) no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: -400px
}

span .right {
    position: relative;
    padding-right:2%;
    float: right;
    background: url(/HikersGuide/images/right.png) no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: -400px;
}

/* Body Block*/
/*==================================================
================================================== */
body {
    background: url('/HikersGuide/design/pattern28.png');
}


/* Body Block*/
/*==================================================
================================================== */

#contact {
    text-align: center;
    height: 400px;
    padding-top: 100px;
    font-size: 16px;
}

    #contact h5 {
        color: lemonchiffon;
        font-size: 2em;
    }

    #contact h2 {
        font-size: 5em;
        color: lemonchiffon;
    }




/* Info Block*/
#info {
    margin: -3rem auto 1rem auto;
    color: lemonchiffon;
    width: 60%;
    padding-bottom: 100px;
    padding-left: 250px;
    font-size: 1.25em;
}

    #info td h5 {
        font-size: 1.5em;
        color: #f0ae35;
    }


/* Email Block*/
#email a {
    margin-left: 600px;
    color: #f0ae35;
    font-size: 2em;
}

#email h4 {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    color: #f0ae35;
}

#email input {
    margin-top: -30px;
    margin-left: 50%;
    height: 50px;
    width: 100px;
    background-color: transparent;
    color: #f0ae35;
    font-size: 2em;
}


/*Footer Block*/
footer {
    position: fixed;
    text-align: right;
    right: 0%;
    bottom: 0;
}

    footer img {
        height: 50px;
        width: 50px;
        margin-right: 25px;
    }

    footer h4 strong {
        color: white;
        font-size: 2em;
        padding-right: 10px;
    }

    footer h4 {
        color: white;
        padding-right: 15px;
    }




/*}*/