/* Hiker's Guide CSS
================================================== 
================================================== */

/*html {*/
/* Header Block*/
/*==================================================
================================================== */
header {
    position:relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 50px;
}

header section {
        display: table-cell;
}

#header {
    Border: 2px solid green;
}

#header h1 {
        font-size: 3em;
        text-align:left;
        padding-left: 4%;
        color: #f0ae35;
        margin-top: -1px;
}

#form {
    width: 950px;
    Border: 2px solid blue;
    font-size: 21px;
    padding-right: 25px;
}
form input {
        background-color: transparent;
        color: #f0ae35;
}

a:link {
    color: #087800;
    text-decoration: none;
    padding: 30px;
}

a:visited {
    color: #f0ae35;
}

/* Rotator Block*/
/*==================================================
================================================== */

#rotatorHome {
    width: 100%;
    margin-top: -6%;
}
#rotatorEvents {
    max-width: 100%;
    margin-top: 0%;
}


span .left {
    position: relative;
    padding-left: 2%;
    float: left;
    background: url(/HikersGuide/images/left.png) no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: -400px
}

span .right {
    position: relative;
    padding-right:2%;
    float: right;
    background: url(/HikersGuide/images/right.png) no-repeat;
    width: 50px;
    height: 50px;
    border: none;
    margin-top: -400px;
}

/* Body Block*/
/*==================================================
================================================== */
body {
    background: url('/HikersGuide/design/pattern28.png');
}


/* Blog: Article Block 1*/
/*==================================================
================================================== */
#aLevel1 {
    max-width: 100%;
    height: 120px;
    margin: 0.5rem;
    clear: both;
}

    #aLevel1 article {
        height: 110px;
        width: 300px;
        border: 1px solid #3b321a;
        background: url('/HikersGuide/design/abstract-luxury-leather-black-texture-260nw-570397270.jpg');
        color: lemonchiffon;
        margin-left: 0px;
        float: left;
    }

    #aLevel1 img {
        height: 100px;
        width: 150px;
        float: left;
        padding-right: 25px;
    }

    #aLevel1 p {
        text-align: left;
        margin: 7px -15px 5px 10px;
        font-size: 10px;
        padding: 0px 20px 5px 20px;
        word-break: break-all;
    }

    #aLevel1 h3 {
        text-align: left;
        font-size: 16px;
        margin: 15px -45px 10px 35px;
        padding-right: 35px;
    }


/* Blog: Article Block 2*/
/*==================================================
================================================== */
#aLevel2 {
    max-width: 100%;
    height: 350px;
    margin-top: -5px;
    margin-left: 0.5rem;
    clear: both;
    position: relative;
    text-align: center;
    padding-bottom: 3%;
}

#events, #posts {
    height: auto;
    margin: auto;
    width: auto;
    /*margin: 0px 15% 1% 18%;*/
    clear: both;
    text-align: center;
}

    #events article, #posts article, #aLevel2 article {
        width: 360px;
        height: 360px;
        float: left;
        color: lemonchiffon;
        margin-left: 1px;
    }

        #events article img, #posts article img, #aLevel2 article img {
            position: relative;
            height: 350px;
            width: 350px;
        }

    #events h2, #posts h2 {
        color: #f0ae35;
        text-align: left;
    }

    #events h3, #posts h3, #aLevel2 h3 {
        position: relative;
        margin: 10px 0px 90px 0px;
    }

    #events p, #posts p, #aLevel2 p {
        position: relative;
        margin: -175px 0px 6px 0px;
        font-size: 16px;
    }

#posts dd, #aLevel2 dt {
    position: relative;
    float: left;
    padding-left: 25px;
    font-size: 11px;
}

/* Span input button Block 3*/
/*==================================================
================================================== */

span .more {
    width: 100px;
    height: 50px;
    position: relative;
    float: left;
    margin-top: 50px;
    margin-left: 50%;
    background-color: transparent;
    color: #f0ae35;
    font-size: 16px;
}


/* Blog: Article Block 3*/
/*==================================================
================================================== */


















#contact {
    text-align: center;
    height: 400px;
    padding-top: 100px;
    font-size: 16px;
}

    #contact h5 {
        color: lemonchiffon;
        font-size: 2em;
    }

    #contact h2 {
        font-size: 5em;
        color: lemonchiffon;
    }




/* Info Block*/
#info {
    margin: -3rem auto 1rem auto;
    color: lemonchiffon;
    width: 60%;
    padding-bottom: 100px;
    padding-left: 250px;
    font-size: 1.25em;
}

    #info td h5 {
        font-size: 1.5em;
        color: #f0ae35;
    }


/* Email Block*/
#email a {
    margin-left: 600px;
    color: #f0ae35;
    font-size: 2em;
}

#email h4 {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    color: #f0ae35;
}

#email input {
    margin-top: -30px;
    margin-left: 50%;
    height: 50px;
    width: 100px;
    background-color: transparent;
    color: #f0ae35;
    font-size: 2em;
}


/*Footer Block*/
footer {
    position: fixed;
    text-align: right;
    right: 0%;
    bottom: 0;
}

    footer img {
        height: 50px;
        width: 50px;
        margin-right: 25px;
    }

    footer h4 strong {
        color: white;
        font-size: 2em;
        padding-right: 10px;
    }

    footer h4 {
        color: white;
        padding-right: 15px;
    }




/*}*/